* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  line-height: 1.5;
  font-size: 14px;
  color: #FAFAFA;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #03619C;
}

.section-1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-bar {
  width: 100%;
  padding: 30px;
  height: 80px;
  background-color: #FF70A6;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.app-bar > img {
  width: 90px;
  height: auto;
}

.terminal-bg {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  width: 75%;
  padding: 20px;
  flex: 5;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/section-1/terminal-bg@2x.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.terminal-bg > * {
  text-align: center;
}

h1,
h2,
h3,
h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
}

.heading {
  display: block;
}

.heading-primary {
  font-size: 70px;
}

.heading-secondary {
  font-size: 50px;
}

.heading-sub {
  font-size: 30px;
}

.light-orange-text {
  color: #FFEF9F;
}

.orange-text {
  color: #FFD000;
}

.green-text {
  color: #7BF1A8;
}

.sect-1-left-bot {
  position: absolute;
  bottom: 0;
  width: 400px;
}

.sect-1-right-bot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
}

.sect-1-scroll-img {
  align-self: center;
  height: 80px;
  margin-bottom: 20px;
}

.section-2 {
  text-align: center;
  padding: 30px;
}

.section-2-1-wrapper {
  display: flex;
  justify-content: space-around;
}

.section-2-1-text-box {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  font-size: 25px;
}

.img-flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.cloud-right {
  align-self: flex-end;
}

.cloud-md {
  height: 300px;
}

.cloud-mobile-box {
  display: flex;
  justify-content: space-around;
  display: none;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
  .app-bar > img {
    width: 65px;
    height: auto;
  }

  .heading-primary {
    font-size: 50px;
  }
  
  .heading-secondary {
    font-size: 30px;
  }

  .heading-sub {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .terminal-bg {
    width: 93%;
    background-size: cover 100% !important;
    padding-top: 120px;
    justify-content: flex-start;
  }

  .sect-1-left-bot, .sect-1-right-bot {
    width: 200px;
    height: auto;
    min-height: 40%;
  }

  .sect-1-scroll-img {
    visibility: hidden;
  }

  .section-2 {
    padding: 10px;
  }

  .cloud-mobile-box {
    display: flex;
    justify-content: space-evenly;
  }

  .cloud-mobile {
    width: 100px;
  }

  .cloud-md {
    display: none;
  }
}