* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  line-height: 1.5;
  font-size: 14px;
  color: #fafafa;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #03619c;
}

.section-1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-bar {
  width: 100%;
  padding: 30px;
  height: 80px;
  background-color: #ff70a6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.app-bar > img {
  width: 90px;
  height: auto;
}

.terminal-bg {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  width: 75%;
  padding: 20px;
  flex: 5;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../img/section-1/terminal-bg@2x.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.terminal-bg > * {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: normal;
}

.heading {
  display: block;
}

.heading-primary {
  font-size: 70px;
}

.heading-secondary {
  font-size: 50px;
}

.heading-sub {
  font-size: 30px;
}

.light-orange-text {
  color: #ffef9f;
}

.orange-text {
  color: #ffd000;
}

.green-text {
  color: #7bf1a8;
}

.sect-1-left-bot {
  position: absolute;
  bottom: 0;
  width: 400px;
}

.sect-1-right-bot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
}

.sect-1-scroll-img {
  align-self: center;
  height: 80px;
  margin-bottom: 20px;
}

.section-2 {
  text-align: center;
  padding: 30px;
}

.section-2-1-wrapper {
  display: flex;
  justify-content: space-around;
}

.section-2-1-text-box {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  font-size: 25px;
}

.img-flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.cloud-right {
  align-self: flex-end;
}

.cloud-md {
  height: 300px;
}

.cloud-mobile-box {
  display: flex;
  justify-content: space-around;
  display: none;
}

.map-img {
  width: 70%;
}

.bar-img {
  margin: auto;
  margin-top: 45px;
  margin-bottom: 25px;
  display: block;
  height: 100px;
  max-width: 100%;
}

.section-2-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-img {
  max-width: 100%;
  height: 630px;
}

.chart-img-mobile {
  max-width: 100%;
  display: none;
}

.section-3 {
  text-align: center;
}

.sect-3-1-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sect-3-1-img {
  max-width: 100%;
  height: 400px;
}

.sect-3-1-text {
  width: 600px;
  font-weight: lighter;
  text-align: justify;
}

.sect-3-card {
  max-width: 100%;
  width: 800px;
  height: auto;
}

.font-weight-bold {
  font-weight: bold;
}

.section-4 {
  text-align: center;
  position: relative;
}

.sect-4-text {
  text-align: center;
  margin: auto;
  width: 700px;
  max-width: 100%;
  font-weight: lighter;
}

.section-4-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.sect-4-center-img-desktop {
  position: absolute;
  top: 48%;
  left: 0;
  width: 30vw;
}

.sect-4-center-img-mobile {
  max-width: 80%;
  display: none;
  margin-bottom: 30px;
}

.section-5 {
  text-align: center;
}

.sect-5-content-wrapper {
  position: relative;
}

.sect-5-img-sub-desktop {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-55%, -10%);
  width: 280px;
  max-width: 90%;
}

.sect-5-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sect-5-img-main {
  width: 500px;
  max-width: 90%;
}

.sect-5-img-sub-mobile {
  display: none;
  max-width: 70%;
}

.text-center {
  text-align: center;
}

.sect-6-content {
  display: flex;
  justify-content: space-evenly;
}

.sect-6-text {
  width: 700px;
  max-width: 100%;
  font-weight: lighter;
  margin-left: 40px;
}

.sect-6-card {
  max-width: 100%;
  width: 800px;
  height: auto;
}

.sect-6-side-img {
  max-width: 80%;
  align-self: flex-end;
  height: 600px;
}

.text-justify {
  text-align: justify;
}

.sect-7-content {
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.sect-7-img {
  width: 400px;
  max-width: 80%;
}

.sect-7-percentage-img {
  width: 400px;
  max-width: 70%;
  transform: translateX(100px);
}

.sect-7-card-jo-img {
  width: 800px;
  max-width: 100%;
}

.sect-7-wrapper {
  display: flex;
  justify-content: center;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
  .app-bar > img {
    width: 65px;
    height: auto;
  }

  .heading-primary {
    font-size: 50px;
  }

  .heading-secondary {
    font-size: 30px;
  }

  .heading-sub {
    font-size: 20px;
  }

  .map-img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .terminal-bg {
    width: 93%;
    background-size: cover 100% !important;
    padding-top: 120px;
    justify-content: flex-start;
  }

  .sect-1-left-bot,
  .sect-1-right-bot {
    width: 200px;
    height: auto;
    min-height: 40%;
  }

  .sect-1-scroll-img {
    visibility: hidden;
  }

  .section-2 {
    padding: 10px;
  }

  .cloud-mobile-box {
    display: flex;
    justify-content: space-evenly;
  }

  .cloud-mobile {
    width: 100px;
  }

  .cloud-md {
    display: none;
  }

  .chart-img {
    display: none;
  }

  .chart-img-mobile {
    display: block;
  }
}

@media (max-width: 1010px) {
  .sect-3-1-wrapper {
    flex-direction: column-reverse;
  }

  .sect-3-1-img {
    order: 1;
    max-width: 100%;
    width: 200px;
    height: auto;
  }

  .sect-3-1-text {
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding: 10px;
  }

  .sect-6-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .sect-6-side-img {
    order: 1;
    height: 400px;
    align-self: center;
  }

  .sect-6-text {
    width: 100%;
    align-self: center;
    margin-left: initial;
    text-align: center;
  }

  .sect-7-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .sect-7-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .sect-7-percentage-img {
    transform: initial;
  }
}

@media (max-width: 1320px) {
  .sect-4-center-img-desktop {
    display: none;
  }

  .sect-4-center-img-mobile {
    display: initial;
  }

  .sect-5-img-sub-desktop {
    display: none;
  }

  .sect-5-img-sub-mobile {
    display: initial;
  }

  .sect-5-content {
    flex-direction: column;
  }
}
